
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <f:flashMessages />
    <h5>Select tempaltes to fluid html (/fileadmin/templates/)</h5>
    <div   class="tx_templavoila2fluid" >
        <f:form action="template2fluid">
            <select name="template[]" multiple size="<f:count>{templates}</f:count>">
            <f:for each="{templates}" as="template">
                    <option value="{template.uid}">{template.title}</option>
            </f:for>
            </select>
         <input type="submit" value="transfer" />
        </f:form>

    </div>


</f:section>